
.banner {
    background: grey;
    text-align: center;
    background-size: cover;
    height: 150px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: #151B54;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

#formLeft {
	margin-left: 20px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;

    text-align: center;;
    display: table-cell;
    vertical-align: middle;
    background-color: grey;
    font-weight: 500;
}
